
<section class="py-2">
    <div class="row">
    <div class="col-md-6 text-center">
        <h1 class="display-3 mt-3 pt-5">Web Development Ebook</h1>
        <p class="lead">Your One Stop For Web Developemnt</p>
         <form action="/create-checkout-session" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_51PErhSBJFo0Nfv3hQQlbTzfv507VKwVQ1i1Xd7MHBkJibuwkvR7uYApR1hyiWbK97zmGZxbJVZkl6eehlux1JE3000BmHPEkyt"
          data-amount="250"
          data-name="Web Development Ebook"
          data-description="Ebook"
          data-image="/img/marketplace.png"
          data-locale="auto">
        </script>
        <button type="submit" class="btn btn-outline-primary">Buy Now</button>
        </form>
     
    </div>
    <div class="col-md-6 ">
        <img src="/img/ebook.png" alt="ebookimage" class="img-fluid">
    </div>
   
    </div>
</section>
